/* img {
  width: 20rem;
} */

.container-info-film {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem 0 2rem 0;

  & .image {
    aspect-ratio: 0.2/0.25;
    width: var(--width-xlarge);
    transition: width 0.3s ease, aspect-ratio 0.3s ease;
  }

  & .info-film {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max(20rem, 34vw);

    & p {
      font-family: "Texte";
      font-size: max(1.1rem, 1.4vw);
      margin: 0.5rem;
    }
  }
}

.notes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: max(20rem, 34vw); */

  & p {
    font-family: "Texte";
    font-size: max(1rem, 1.2vw);
  }

  & .etoiles {
    display: flex;
    margin: 1rem;

    button {
      align-items: center;
      background-color: var(--couleur-neutre);
      border: var(--couleur-neutre);
      display: flex;
      width: max(4rem, 10vw);

      svg {
        width: max(4rem, 10vw);
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .container-info-film {
    flex-direction: column;
  }
}
