header {
  background-image: linear-gradient(
      135deg,
      rgba(0, 121, 128, 0.739) 0%,
      rgba(253, 246, 233, 0.572) 30%,
      rgba(0, 121, 128, 1) 100% /* #fdf6e9 */ /* #007a80 */
    ),
    url("../../../public/img/banniere.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: right;

  & nav {
    font-size: var(--police-nav);

    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-right: var(--space-2_5);
      margin: 0;

      & .active {
        /* border-bottom: 3px solid var(--couleur-basique); */
        border-bottom: 3px solid var(--couleur-neutre);
      }

      & li {
        display: flex;
        list-style: none;
        padding: var(--space-2);

        & img {
          opacity: 0;
        }

        & a {
          font-family: var(--police-titre);
          /* color: var(--couleur-basique); */
          color: var(--couleur-neutre);
          text-decoration: none;
        }
      }
    }

    & .form-login {
      display: flex;
      flex-direction: column;

      & button {
        /* border: var(--couleur-red) 2px solid; */
        border: black 2px solid;
        /* color: var(--couleur-red); */
        color: black;
        font-family: "Texte";
        font-size: 1rem;
        font-weight: bolder;
        height: 1.5rem;
        margin-top: 0.5rem;
        /* padding: 1rem; */
        width: 7rem;
      }

      & button:hover {
        color: var(--couleur-red);
        background-color: var(--couleur-neutre);
        border: var(--couleur-red) 2px solid;
      }

      & input {
        background-color: white;
        /* border: var(--couleur-red) 2px solid; */
        border: black 2px solid;
        height: 2rem;
        padding: 0.2rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  & .logo-container {
    & .logo {
      display: none;
    }
  }
}
