:root {
    /* Couleurs */
    /* --couleur-primaire: #74a0ce; */
    --couleur-secundaire: #3f4348;
    --couleur-neutre: #efefef;

    /* Typographies */
    --police-titre: Arial, Helvetica, sans-serif;

    /* Espaces */
    --space-base: max(5px, 1vw)
}