/* Typographie */

/* @import url(fonts/IrishGrover-Regular.ttf);
@import url(fonts/Lobster-Regular.ttf);
@import url(fonts/RedHatDisplay-Regular.ttf); */

/* Police titres */
@font-face {
  font-family: "Titre";
  src: url("../../../public/fonts/Lobster-Regular.ttf");
}

/* Police textes plus importantes */
@font-face {
  font-family: "Texte";
  src: url("../../../public/fonts/CutiveMono-Regular.ttf");
}

/* Police textes normales */
@font-face {
  font-family: "Normal";
  src: url("../../../public/fonts/TenorSans-Regular.ttf");
}
/* APAGAR AS QUE NAO USO */
